@import "../../styles/colors.scss";

.questionContainer {
  display: flex;
  max-width: 80%;
  padding: 20px;
  border-radius: 10px;
  background-color: $questionContainerBg;
  justify-content: flex-start;
  margin: 30px auto;
  flex-direction: column;
  min-height: 70vh;
}

.title {
  font-weight: bold;
  font-size: 22px;
  text-align: justify;
  margin-bottom: 20px;
}

.radioAnswer {
  border-radius: 5px;
  background-color: $questionRadioAnswerBg;
  cursor: pointer;
  margin-right: 10px;
}

.radioAnswerContainer {
  border-radius: 5px;
  background-color: $questionRadioAnswerBg;
  padding: 10px 5px;
  margin: 5px 10px;
  cursor: pointer;
  display: block;
  text-align: justify;
  display: flex;
  align-items: center;
  position: relative;
  white-space: pre-wrap;

  input[type="radio"] {
    display: grid;
    place-content: center;
  }

  input[type="radio"]::before {
    content: "";
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var($radioBgColor);
    background-color: CanvasText;
  }

  input[type="radio"]:checked::before {
    transform: scale(1);
  }
}

.labelAnswer {
  position: relative;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.6;
}

.labelAnswer:after {
  content: "";
  position: absolute;
  top: -0.25em;
  right: 100%;
  bottom: -0.25em;
  width: 0.25em;
}

.answerItemContainer {
  display: inline-block;
  max-width: 95%;
}
