$examContainerbgColor:#e5e5e5;
$examContainerTextColor:#1C2833;
$containerbgColor:#FFF;
$btnstartbgcolor: #f2ab22;
$btnstarttextcolor: #fefefe;
$btnSelectQuestionTypeBg:#5bb4b4 ;
$btnSelectQuestionTypeBgOver:#96dddd ;
$btnLisetBg:#F1C40F;
$btnListTextColor:#111111 ;
$questionContainerBg:#D8E2EB;
$questionRadioAnswerBg:#878784;
$radioBgColor:#663399;
$finishBtnBgColor:#BF1B1B